@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto Slab', serif;
}

.part-one{
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-link{
    font-size: 18px;
    margin: 10px;
    color: #E6E7EB;
}

.navbar{
    display: flex;
}

ul{
    list-style-type: none;
    display: flex;
}

.navbar-left, .navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero{
    display: flex;
    margin: 50px;
}

img{
    margin: 50px;
    width: 600px;
    margin-right: 230px;
}

.hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-bottom: 100px;

}

.hero-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 360px;
    margin-bottom: 100px;
}

.hero-paragraph{
    font-size: 18px;
    color: #E6E7EB;
}

.sign-up-one{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border: #3882F6;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.random{
    font-size: 60px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 40px auto;
}

.row{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.row-info{
    color: #1F2937;
    font-size: 36px;
    text-align: center;
}

#nb{
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid transparent;
    border-radius: 20px;
}

.part-three{
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
}

.quote-by{
    font-size: 18px;
    font-weight: bold;
    margin-left: 1150px;
    margin-top: 25px;
}

.part-four{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container{
    background-color: #3882F6;
    width: 75%;
    height: 50%;
    border-radius: 10px;
    display: flex;
}

.blue-left{
    width: 70%;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue-header{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.blue-info{
    color: white;
    font-size: 18px;
}

.blue-right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sign-up1{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 40px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #ffffff;
    height: 75px;
}